.cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 100px 10px;
    gap: 70px;
}

@media (max-width: 1180px) {
    .cards_container {
        gap: 40px;
        margin: 80px 10px;
    }
}

@media (max-width: 670px) {
    .cards_container {
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        margin-bottom: 70px;
    }
}