body{
    margin: 0;
}

.header {
    background-color: rgb(25, 42, 57);
    text-align: center;
    padding: 8px;
    letter-spacing: 3px;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.header > h1 {
    font-size: 72px;
}

.header > h3 {
    font-size: 24px;
}

@media (max-width: 500px) {
    .header > h1 {
        font-size: 48px;
    }
    
    .header > h3 {
        font-size: 16px;
    }
}